/* nav relatad style */
body{
    font-family:open sans;
}
nav{
    display:flex;
    font-family:open sans;
    justify-content:space-between;
    align-items:center;
    margin:0 140px;
}
.logo{
    color:black;
    font-weight:800;
    font-size:45px;
}
.r{
    color:#FD6E0A;
}
.btn-primary{
    background:#FD6E0A;
    border:none;
    border-radius:5px;
    font-size:20px;
    color:white;
    font-weight:700;
    padding:10px 15px;
}
nav > ul{
    display:flex;
    align-items:center;
    
}
nav li{
    list-style:none;
    margin-right:50px;
}
nav li a {
    text-decoration:none;
    color:#474747;
}
/* header related style */
.header{
    background-color:#FFF8F3;
}
.banner{
    padding:30px 30px 30px 150px;
    display:flex;
    align-items:center;
}
.profile-pic{
    width:300px;
}